{% extends "jobportal/home/home.html" %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'premium-home' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Home">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'premium-settings' %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'saved-jobs' %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <input class="nav-link" type="submit" value="Saved Jobs">
    </form>
</li>
{% endblock navbar %}

{% block savebutton %}
<div class="text-right">
    <form action="{% url 'save-job' %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="job_id" value="{{ job.job_id }}">
        <button class="btn btn-primary">
            <i class="fa fa-heart-o"></i>
        </button>
    </form>
</div>
{% endblock savebutton %}

{% block columns %}
<div class="col">
    Applications: {{ job.job1.applications }}
</div>
<div class="col">
    Salary: {{ job.job1.salary }}
</div>
{% endblock columns %}

{% block detailsbutton %}
<div class="text-right">
    <form action="{% url 'premium-details' job.job_id %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit" class="btn btn-primary">See details >></button>
    </form>
</div>
{% endblock detailsbutton %}

{% block extrasort %}
<form action="#" method="get">
    <input type="submit" class="btn btn-primary btn-block m-1" value="Salary">
</form>
<form action="#" method="get">
    <input type="submit" class="btn btn-primary btn-block m-1" value="Applications">
</form>
{% endblock extrasort %}

{% block applicationsfilter %}
<label for="applications">Applications</label>
<form class="form-inline">
    <input type="number" min="0" id="applications" class="form-control col-6 mx-2 mb-2">
    <small id="applicationNum" class="text-muted">Applied</small>
</form>
{% endblock applicationsfilter %}


{% block salaryfilter %}
<label for="salary">Salary</label>
<form class="form-inline">
    <input type="number" min="0" step="5000" id="salary" class="form-control col-6 mx-2 mb-2">
    <small id="salaryAmt" class="text-muted">Dollars</small>
</form>
{% endblock salaryfilter %}

{% block sort-by %}
    {% include "jobportal/sidebar/sort-by-premium.html" %}
{% endblock sort-by %}

{% block filter-by %}
    {% include "jobportal/sidebar/filter-by-premium.html" %}
{% endblock filter-by %}

{% block salary-stats %}
<div class="col-10 offset-1">
    <div class="card">
        <div class="card-header header-text">Salary Statistics</div>
    </div>
    <div class="card-group mb-4">
        <div class="card stats-card">
            <div class="card-body pt-0 pb-0">
                <h6 class="card-title" align="center">Min. Salary</h6>
                <p style="font-size:200%;" align="center">20000</p>
            </div>
        </div>
        <div class="card stats-card">
            <div class="card-body pt-0 pb-0">
                <h6 class="card-title" align="center">Average Salary</h6>
                <p style="font-size:200%;" align="center">60000</p>
            </div>
        </div>
        <div class="card stats-card">
            <div class="card-body pt-0 pb-0">
                <h6 class="card-title" align="center">Max. Salary</h6>
                <p style="font-size:200%;" align="center">120000</p>
            </div>
        </div>
    </div>
</div>
{% endblock salary-stats %}
