{% extends "jobportal/home/home.html" %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'company-home' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Home">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'company-settings' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'create-posting' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Create Posting">
    </form>
</li>
{% endblock navbar %}

{% block search %}
<input class="form-control mr-sm-2" type="text" placeholder="Enter a job title"
       style="width: 400px;">
{% endblock search %}

{% block columns %}
<div class="col">
    Applications: {{ job.applications }}
</div>
<div class="col">
    Salary: {{ job.salary }}
</div>
<div class="col">
    Job ID: {{ job.job_id }}
</div>
{% endblock columns %}

{% block detailsbutton %}
<div class="text-right">
    <form action="{% url 'company-details' job.job_id %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit" class="btn btn-primary">See details >></button>
    </form>
</div>
{% endblock detailsbutton %}

{% block job-card %}
<div class="col-6 offset-1">
    {% block job-card-content %}
    {{ block.super }}
    {% endblock job-card-content %}
</div>
{% endblock job-card %}


{% block sidebar %}
<div class="col-4">
    <div class="card mb-4">
        <div class="card-body mb-2 pb-1">
            <p style="font-size:100%;" align="center"><br>Want to see which applicant has applied to the most
                postings in your company?</p>
        </div>
        <div class="card-body pb-0 pl-0 pr-0 mt-0 pt-0">
            <form action="{% url 'top-fans' %}" method="get">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="submit" class="btn btn-success btn-block" value="✨🔥View Top Fans🔥✨">
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header header-text">
            Applicant Information
        </div>
        <div class="card-body">
            <p style="font-size:200%;" align="center">{{ distinct_applicants }}</p>
            <p align="center">Total Number of Distinct Applicants</p>
            <hr>
            <div class="text-center">
                <div class="form-inline">
                    <div class="float-right">
                        <p>Search applicants for a particular job posting:</p>
                        <form action="{% url 'search-for-applicants' %}" method="get">
                            <input type="hidden" name="username" value="{{ username }}">
                            <div class="form-group">
                                <label>Enter JobID:</label>
                                <input name="job_id" type="number" min="0" class="form-control">
                            </div>
                            <input type="submit" class="btn btn-success" id="see-applicants" value="See Applicants">
                        </form>
                    </div>
                    <div>
                        {% if applicants %}
                        {% if applicants == 'empty' %}
                        {% else %}
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td colspan="3" class="applicationsheader">
                                    <div class="text-md-left mt-2"><h4>Applicants</h4></div>
                                </td>
                            </tr>
                            {% for applicant in applicants %}
                            <tr>
                                <th scope="row" class="applicationsth">Applicant Name</th>
                                <th scope="row" class="applicationsth">Contact Information</th>
                            </tr>
                            <tr>
                                <td scope="row" class="applicationstd">{{ applicant.first_name }} {{ applicant.last_name }}</td>
                                <td scope="row" class="applicationstd">{{ applicant.contact_info }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% else %}
                        <h4>No applicants matching your search criteria were found! :(</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock sidebar %}
