{% extends "jobportal/home/home.html" %}

{% block employmee %}
<form action="{% url 'company-home' %}" method="get">
    {% if job.username is not None %}
    <input type="hidden" name="username" value="{{ job.username }}">
    {% else %}
    <input type="hidden" name="username" value="{{ username }}">
    {% endif %}
    <input class="navbar-brand" type="submit" value="Employmee">
</form>
{% endblock employmee %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'company-settings' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'create-posting' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Create Posting">
    </form>
</li>
{% endblock navbar %}

{% block search %}
<input class="form-control mr-sm-2" type="text" placeholder="Enter a job title"
       style="width: 400px;">
{% endblock search %}

{% block columns %}
<div class="col">
    Applications: {{ job.job1.applications }}
</div>
<div class="col">
    Salary: {{ job.job1.salary }}
</div>
{% endblock columns %}

{% block detailsbutton %}
<div class="text-right">
    <form action="{% url 'edit-posting' %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <form action="{% url 'company-details' job.job_id %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit" class="btn btn-primary">See details >></button>
    </form>
</div>
{% endblock detailsbutton %}



{% block job-card %}
<div class="col-6 offset-1">
    {% block job-card-content %}
    {{ block.super }}
    {% endblock job-card-content %}
</div>
{% endblock job-card %}

{% block salary-stats %}
<div class="col-6 offset-1">
    <div class="card">
        <div class="card-header header-text">Salary Statistics</div>
    </div>
    <div class="card-group mb-4">
        <div class="card stats-card">
            <div class="card-body pt-0 pb-0">
                <h6 class="card-title" align="center">Min. Salary</h6>
                <p style="font-size:200%;" align="center">20000</p>
            </div>
        </div>
        <div class="card stats-card">
            <div class="card-body pt-0 pb-0">
                <h6 class="card-title" align="center">Average Salary</h6>
                <p style="font-size:200%;" align="center">60000</p>
            </div>
        </div>
        <div class="card stats-card">
            <div class="card-body pt-0 pb-0">
                <h6 class="card-title" align="center">Max. Salary</h6>
                <p style="font-size:200%;" align="center">120000</p>
            </div>
        </div>
    </div>
</div>
{% endblock salary-stats %}

{% block top-fans %}
<div class="col-4">
    <div class="card">
        <div class="card-body mb-2 pb-1">
            <p style="font-size:100%;" align="center"><br>Want to see which applicant has applied to the most
                postings in your company?</p>
        </div>
        <div class="card-body pb-0 pl-0 pr-0 mt-0 pt-0">
            <form action="{% url 'top-fans' %}" method="get">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="submit" class="btn btn-success btn-block" value="✨🔥View Top Fans🔥✨">
            </form>
        </div>
    </div>
</div>
{% endblock top-fans %}

{% block sort-filter %}
<div class="col-4">
    <div class="card">
        <div class="card-header header-text">Applicant Information</div>
        <div class="card-body">
            <p style="font-size:200%;" align="center">{{ distinct_applicants }}</p>
            <p align="center">Total Number of Distinct Applicants</p>
            <hr>
            <p>See the number of distinct applicants for a particular posting:</p>
            <div class="text-center">
                <div class="form-inline">
                    <input type="text" class="form-control col-6 ml-4">
                    <div class="float-right">
                    <a class="btn btn-success ml-2" href="#" role="button">See Applicants</a>
                    </div>
                </div><br>
                <p>For JobID _____:</p>
            </div>
            <table class="table table-striped">
        <tbody>
        <tr>
            <td colspan="3" class="applicationsheader">
                <div class="text-md-left mt-2"><h4>Applications</h4></div>
            </td>
        </tr>
        <tr>
            <th scope="row" class="applicationsth">Application ID</th>
            <th scope="row" class="applicationsth">Contact Information</th>
            <th scope="row" class="applicationsth">Resume</th>
        </tr>
        <!-- Would loop over all applicants that have applied and make a row for each -->
        <tr>
            <td scope="row" class="applicationstd">12345</td>
            <td scope="row" class="applicationstd">602-123-4567</td>
            <td scope="row" class="applicationstd">
                <button type="button" class="btn btn-primary btn-block">View Resume</button>
            </td>
        </tr>

        </tbody>
    </table>
        </div>
    </div>
</div>

{% endblock sort-filter %}