{% extends "jobportal/home/home.html" %}

{% block employmee %}
<form action="{% url 'premium-home' %}" method="get">
    <input type="hidden" name="username" value="{{ username }}">
    <input class="navbar-brand" type="submit" value="Employmee">
</form>
{% endblock employmee %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'premium-settings' %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'saved-jobs' %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <input class="nav-link" type="submit" value="Saved Jobs">
    </form>
</li>
{% endblock navbar %}

{% block savebutton %}
<div class="text-right">
    <a href="#!" class="btn btn-primary">
        <i class="fa fa-heart-o"></i>
    </a>
</div>
{% endblock savebutton %}

{% block columns %}
<div class="col">
    Applications: {{ job.job1.applications }}
</div>
<div class="col">
    Salary: {{ job.job1.salary }}
</div>
{% endblock columns %}

{% block detailsbutton %}
<div class="text-right">
    <form action="{% url 'premium-details' job.job_id %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit" class="btn btn-primary">See details >></button>
    </form>
</div>
{% endblock detailsbutton %}

{% block extrasort %}
<form action="#" method="get">
    <input type="submit" class="btn btn-primary btn-block m-1" value="Salary">
</form>
<form action="#" method="get">
    <input type="submit" class="btn btn-primary btn-block m-1" value="Applications">
</form>
{% endblock extrasort %}

{% block applicationsfilter %}
<label for="applications">Applications</label>
<form class="form-inline">
    <input type="number" min="0" id="applications" class="form-control col-6 mx-2 mb-2">
    <small id="applicationNum" class="text-muted">Applied</small>
</form>
{% endblock applicationsfilter %}


{% block salaryfilter %}
<label for="salary">Salary</label>
<form class="form-inline">
    <input type="number" min="0" step="5000" id="salary" class="form-control col-6 mx-2 mb-2">
    <small id="salaryAmt" class="text-muted">Dollars</small>
</form>
{% endblock salaryfilter %}