{% extends "jobportal/details/details.html" %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'premium-home' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Home">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'premium-settings' %}" method="get">
        <input type="hidden" name="username" value="{{ job.username }}">
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'saved-jobs' %}" method="get">
        <input type="hidden" name="username" value="{{ job.username }}">
        <input class="nav-link" type="submit" value="Saved Jobs">
    </form>
</li>
{% endblock navbar %}


{% block tableheader %}
<div class="text-right">
    <a href="#!" class="btn btn-primary">
        <i class="fa fa-heart-o"></i>
    </a>
</div>
{% endblock tableheader %}

{% block details %}
{{ block.super }}
<tr>
    <th scope="row" class="details">Salary</th>
    <td id="td8">{{ job.salary }}</td>
</tr>
<tr>
    <th scope="row" class="details">Number of Applications</th>
    <td id="td9">
        <div class="text pt-3">
            {{ job.applications }}
        </div>
    </td>
</tr>
{% endblock details %}