{% extends "jobportal/details/details.html" %}

{% block employmee %}
<form action="{% url 'company-home' %}" method="get">
    {% if job.username is not None %}
    <input type="hidden" name="username" value="{{ job.username }}">
    {% else %}
    <input type="hidden" name="username" value="{{ username }}">
    {% endif %}
    <input class="navbar-brand" type="submit" value="Employmee">
</form>
{% endblock employmee %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'company-settings' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'create-posting' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Create Posting">
    </form>
</li>
{% endblock navbar %}

{% block table %}
<div class="col-10 offset-1">
    <table class="table table-bordered table-striped">
        {% block tablebody %}
        {{ block.super }}
        {% endblock tablebody %}
    </table>
</div>
{% endblock table %}

{% block tableheader %}
<div class="float-right row">
    <form action="{% url 'edit-posting' %}" method="get">
        <input type="hidden" name="username" value="{{ job.username }}">
        <input class="btn btn-success" type="submit" value="Edit">
    </form>
    <form action="" method="post" class="px-3">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
</div>
{% endblock tableheader %}

{% block details %}
{{ block.super }}
<tr>
    <th scope="row" class="details">Salary</th>
    <td id="td8">{{ job.job1.salary }}</td>
</tr>
<tr>
    <th scope="row" class="details">Number of Applications</th>
    <td id="td9">
        <div class="text pt-3">
            {{ job.job1.applications }}
        </div>
    </td>
</tr>
{% endblock details %}

{% block applycard %}
<div class="col-10 offset-1">
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td colspan="3" id="tableheader" class="applicationsheader">
                <div class="text-md-left mt-2 header-text" id="apheader"><h4>Applications</h4></div>
                <div class="float-right">
                    <div class="input-group mb-2 mt-2">
                        <input type="text" class="form-control" placeholder="Enter an applicant ID">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row" class="applicationsth" id="apth1">Application ID</th>
            <th scope="row" class="applicationsth" id="apth2">Contact Information</th>
            <th scope="row" class="applicationsth">Resume</th>
        </tr>
        <!-- Would loop over all applicants that have applied and make a row for each -->
        <tr>
            <td scope="row" class="applicationstd" id="aptd1">12345</td>
            <td scope="row" class="applicationstd" id="aptd2">602-123-4567</td>
            <td scope="row" class="applicationstd">
                <button type="button" class="btn btn-primary btn-block">View Resume</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
{% endblock applycard %}
