{% extends "jobportal/base.html" %}

{% block main %}
<div class="row">
    {% block table %}
    <div class="col-sm-6 col-md-7 offset-md-1">
        {% block table-data %}
        <table class="table table-bordered table-striped">
            {% block tablebody %}
            <tbody>
            <tr>
                <td colspan="2" id="tableheader">
                    {% block tableheader %}{% endblock tableheader %}
                    <div class="text header-text"><div class="text-md-left"><h3>{{ job.title }}</h3>
                        <h6>{{ job.company_name }}</h6></div></div></td></tr>
            {% block details %}
            <tr>
                <th scope="row" class="details">ID</th>
                <td id="td1">{{ job.job_id }}</td>
            </tr>
            <tr>
                <th scope="row" class="details">Job Title</th>
                <td id="td2">{{ job.title }}</td>
            </tr>
            <tr>
                <th scope="row" class="details">Company</th>
                <td id="td3">{{ job.company_name }}</td>
            </tr>
            <tr>
                <th scope="row" class="details">Employment Type</th>
                <td  id="td4">{{ job.employment_type }}</td>
            </tr>
            <tr>
                <th scope="row" class="details">Sector</th>
                <td id="td5">{{ job.sector }}</td>
            </tr>
            <tr>
                <th scope="row" class="details">Education</th>
                <td id="td6">{{ job.min_education }}</td>
            </tr>
            <tr>
                <th scope="row" class="details">Deadline</th>
                <td id="td7">{{ job.deadline }}</td>
            </tr>
            {% endblock details %}
            <tr>
                <th scope="row" class="details">Skills Required</th>
                <td id="tdsl">
                    {% for skill in job.skills %}
                    <ul>
                        <li>{{skill}}</li>
                    </ul>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="details" id="tablehlast">Description</th>
                <td id="tabledlast">{{ job.description }}</td>
            </tr>
            </tbody>
            {% endblock tablebody %}
        </table>
        {% endblock table-data %}
    </div>
    {% endblock table %}

    {% block applycard %}
    <div class="col-sm-6 col-md-3">
        <div class="card mt-3">
            <div class="card-header">
                <div class="text header-text">Interested?</div>
            </div>
            <div class="card-body p-2 text-center">
                <form action="{% url 'apply' job.job_id %}" class="form-inline" method="get">
                        <div class="btn-group align-middle">
                            <select name="resume_select" class="custom-select my-1 mr-sm-2" aria-labelledby="dropdownMenu1">
                                <option selected>Choose...</option>
                                <option name="resume_id" class="dropdown-item" value="Resume 1">Resume 1</option>
                                <option name="resume_id" class="dropdown-item" value="Resume 6">Resume 6</option>
                                <option name="resume_id" class="dropdown-item" value="Resume 7">Resume 7</option>
                                <option name="resume_id" class="dropdown-item" value="Resume 8">Resume 8</option>
                            </select>
                        </div>
                    <div class="card-footer p-0">
                        <button type="button" class="btn btn-success btn-block" id="apply" value="Apply Now">Apply now!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock applycard %}
</div>
{% endblock main %}

{#<form class="form-inline">#}
{#  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>#}
{#  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">#}
{#    <option selected>Choose...</option>#}
{#    <option value="1">One</option>#}
{#    <option value="2">Two</option>#}
{#    <option value="3">Three</option>#}
{#  </select>#}
{##}
{#  <div class="custom-control custom-checkbox my-1 mr-sm-2">#}
{#    <input type="checkbox" class="custom-control-input" id="customControlInline">#}
{#    <label class="custom-control-label" for="customControlInline">Remember my preference</label>#}
{#  </div>#}
{##}
{#  <button type="submit" class="btn btn-primary my-1">Submit</button>#}
{#</form>#}
