/* home */
#reset {
    border-radius: 0px 0px 0px 3px;
}

#applyFilter {
    border-radius: 0px 0px 3px 0px;
}

.stats-card {
    border-top: 0px;
}

.card#salary-stats {
    border: 0px;
}

.app-sidebar {
    border-collapse: collapse;
}

.app-sidebar, .app-th, .app-td {
    border: 1px solid #DFE3E6;
}