html, body {
    margin: 0px;
    padding: 0px;
    height:100%;
    padding-top: 40px;
}

.scrollable{
    overflow-y: auto;
    max-height: 240px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn, .btn.disabled {
    color: #fff;
    background-color: #edcb95;
    border-color: #edcb95;
}

.btn-primary, .btn-primary:active:focus {
    background: #c4c69b !important;
    border-color: #c4c69b !important;
    text-color: white !important;

}

.btn-success, .btn-success:active:focus {
    background: #999e7b !important;
    border-color: #999e7b !important;
    text-color: white !important;

}

.card-header {
    background-color: #a3ced2;
}

.header-text {
    color: white;
}

.heart {
    color: #edcb95;
}

img {
    border: 3px solid white !important;
}