html, body {
    margin: 0px;
    padding: 0px;
    height:100%;
    padding-top: 40px;
}

.scrollable{
    overflow-y: auto;
    max-height: 240px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    color: #fff;
    background-color: #edcb95;
    border-color: #edcb95;
}

.btn-primary {
    background: #c4c69b;
    border-color: #c4c69b;
    text-color: white;

}

.btn-success {
    background: #999e7b;
    border-color: #999e7b;
    text-color: white;

}

.card-header {
    background-color: #a3ced2;
}

.header-text {
    color: white;
}