{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'jobportal/css/main.css' %}">

        <title> {{ title }} </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Job Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active px-2">

                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    {% block navbar %}{% endblock navbar %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Enter a job title or company name"
                           style="width: 400px;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container">
            {% block main %}
            <h1>Hello, world!</h1>
            {% for job in jobs %}

        <div class="card">

            <div class="card-body">
                {% block savebutton %}{% endblock savebutton %}

                <h4 class="card-title">{{ job.job1.title }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Company: {{ job.job1.company }}</h6>
                <p class="card-text">

                <div class="row align-items-start">
                <div class="col">
                    Sector: {{ job.job1.sector }}
                </div>
                <div class="col">
                    Location: {{ job.job1.city }}, {{ job.job1.prov_state }}
                </div>
                <div class="col">
                    Deadline: in {{ job.job1.deadline }} days
                </div>
                {% block columns %}{% endblock columns %}
            </div>
                <br><p>
                We are looking for Amazon interns to join us for Fall 2019! Amazon interns have the opportunity to
                work alongside the industry’s brightest engineers who innovate everyday on behalf of our customers.
                Our interns and co-ops write real software and partner with a select group of experienced software
                development engineers, who both help and challenge them as they work on projects that matter...
            </p>
                <div class="text-right">
                    <a href="#!" class="btn btn-primary">See details >></a>
                </div>
            </div>
        </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Apple</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">See details</a>
                </div>
            </div>

            {% endfor %}
            {% endblock main %}
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>