{% extends "jobportal/base.html" %}

{% block employmee %}
<form action="{% url 'company-home' %}" method="get">
    {% if job.username is not None %}
    <input type="hidden" name="username" value="{{ job.username }}">
    {% else %}
    <input type="hidden" name="username" value="{{ username }}">
    {% endif %}
    <input class="navbar-brand" type="submit" value="Employmee">
</form>
{% endblock employmee %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'company-settings' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'create-posting' %}" method="get">
        {% if job.username is not None %}
        <input type="hidden" name="username" value="{{ job.username }}">
        {% else %}
        <input type="hidden" name="username" value="{{ username }}">
        {% endif %}
        <input class="nav-link" type="submit" value="Create Posting">
    </form>
</li>
{% endblock navbar %}

{% block search %}
<input class="form-control mr-sm-2" type="text" placeholder="Enter a job title"
       style="width: 400px;">
{% endblock search %}

{% block main %}
<div class="col-10 offset-1">
    <div class="card p-0">
        <div class="card-header">
            {% block create-header %}
            <div class="text header-text">Create Posting</div>
            {% endblock create-header %}
        </div>
        <div class="card-body">
            <form>
                {% block update-jobID %}
                <div class="form-group">
                    <label>Job ID</label>
                    <input type="text" class="form-control" value="">
                </div>
                {% endblock update-jobID %}
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" maxlength="100">
                </div>
                <div class="form-group">
                    <label>Employment Type</label>
                    <input type="text" class="form-control" maxlength="100">
                </div>
                <div class="form-group">
                    <label>Sector</label>
                    <input type="text" class="form-control" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Minimum Education</label>
                    <input type="text" class="form-control" maxlength="50">
                </div>
                <div class="form-group">
                    <label>Deadline</label>
                    <input type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>Salary</label>
                    <input type="number" class="form-control" step="500">
                </div>
                <div class="form-group mt-4">
                    <span style="float:left;" class="text mt-2"><label>Skill&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
                    <span style="float:left;"><input type="text" class="form-control"></span>
                    <span style="float:left;" class="text ml-2 mr-2"><input type="text" class="form-control"></span>
                    <span style="float:left;" class="text mt-2"><label>years of experience</label></span>
                    <a href="#" class="btn btn-link btn-sm mt ml-3" id="add-skill">+ Add another skill</a>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" maxlength="2500"></textarea>
                    </div>
                </div>
                {% block post-button %}
                <a href="#" class="btn btn-success">Post Job</a>
                {% endblock post-button %}
            </form>
        </div>
    </div>
</div>
{% endblock main %}