{% extends "jobportal/base.html" %}

{% block main %}
<div class="row">
    <h1 class="col-8 col-sm-9 col-md-7 offset-md-1 col-lg-7 offset-lg-1">
        Hello, world!
    </h1>
</div>
<div class="row">
    <div class="col-12 col-sm-8 col-md-7 offset-md-1 col-lg-7 offset-lg-1 col-xl-8 offset-xl-1">
        {% for job in jobs %}
            {% include "jobportal/job-card.html" %}
        {% endfor %}
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <!-- Sort By -->
        {% include "jobportal/sidebar/sort-by.html" %}
        <!-- Filter By -->
        {% include "jobportal/sidebar/filter-by.html" %}
    </div>
</div>
{% endblock main %}
