<div class="card">
    <div class="card-body">
        {% block savebutton %}{% endblock savebutton %}

        <h4 class="card-title">{{ job.job1.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Company: {{ job.job1.company }}</h6>
        <p class="card-text">

        <div class="row align-items-start">
            <div class="col">
                Sector: {{ job.job1.sector }}
            </div>
            <div class="col">
                Location: {{ job.job1.city }}, {{ job.job1.prov_state }}
            </div>
            <div class="col">
                Deadline: in {{ job.job1.deadline }} days
            </div>
            {% block columns %}{% endblock columns %}
        </div>

        <hr>
        <br><p>
        {{ job.job1.description }}
    </p>
        {% block detailsbutton %}
        <div class="text-right">
            <a href="#!" class="btn btn-primary">See details >></a>
        </div>
        {% endblock detailsbutton %}
    </div>
</div>