{% extends "jobportal/home/home-prem.html" %}

{% block hello %}
Saved Jobs
{% endblock hello %}

{% block savebutton %}
<div class="text-right">
    <form action="{% url 'unsave-job' %}" method="get">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="job_id" value="{{ job.job_id }}">
        <button class="btn btn-primary">
            <i class="fa fa-heart-o"></i>
        </button>
    </form>
</div>
{% endblock savebutton %}

{% block sort-by %}
    {% include "jobportal/sidebar/sort-by-saved-jobs.html" %}
{% endblock sort-by %}

{% block salary-stats %}{% endblock salary-stats %}