{% extends "jobportal/settings/settings.html" %}

{% block employmee %}
<form action="{% url 'home' %}" method="get">
    <input type="hidden" name="username" value="{{ job.username }}">
    <input class="navbar-brand" type="submit" value="Employmee">
</form>
{% endblock employmee %}

{% block navbar %}
<li class="nav-item px-2">
    <form action="{% url 'settings' %}" method="get">
        <input type="hidden" name="username" value="{{ job.username }}">
        <input class="nav-link" type="submit" value="Settings">
    </form>
</li>
<li class="nav-item px-2">
    <form action="{% url 'saved-jobs' %}" method="get">
        <input type="hidden" name="username" value="{{ job.username }}">
        <input class="nav-link" type="submit" value="Saved Jobs">
    </form>
</li>
{% endblock navbar %}